In [129]:
import pandas as pd

In [130]:
df=pd.read_csv('/content/drive/MyDrive/EnglishWordsDataset/unigram_freq.csv')
df.head()

  word        count
0  the  23135851162
1   of  13151942776
2  and  12997637966
3   to  12136980858
4    a   9081174698

In [131]:
#Checking missing values
df.isna().sum()

word     2
count    0
dtype: int64

In [132]:
#dropping 2 missing values
df.dropna(inplace=True)
df.isna().sum()

word     0
count    0
dtype: int64

In [133]:
df.shape

(333331, 2)

In [134]:
print(df.loc[105])

word           had
count    480232730
Name: 105, dtype: object

In [ ]:
#Removing all irrelevant characters (Numbers and Punctuation)
# Bu verisetinde bu iÅŸleme gerek yok

In [116]:
#Finding unique words
df_unique=df["word"].str.split(" ").apply(pd.Series).stack().unique()
df_unique.shape

(333331,)

In [135]:
#Removal of Single and Double Letters
words=df
filterlength=(words['word'].str.len() >=3.0)
words= words.loc[filterlength]

In [136]:
#Removal of Stopwords
import nltk
#nltk.download("stopwords")
sw=nltk.corpus.stopwords.words('english')
words2=words
words_ns2=[]
for index, row in words2.iterrows():
    if (row['word'] in sw ):
        words2.drop([index],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [137]:
words2.shape

(332513, 2)

In [138]:
words2

           word       count
26          new  1551258643
32         home  1276852170
37         page  1082121730
40       search  1024093118
41         free  1014107316
...         ...         ...
333328    gooek       12711
333329   gooddg       12711
333330  gooblle       12711
333331   gollgo       12711
333332    golgw       12711

[332513 rows x 2 columns]

In [139]:
#Tokenization
import nltk
#nltk.download('punkt')
from nltk.tokenize import word_tokenize

def clean_tokenization(text):
  return word_tokenize(text)
words2['word']=words2['word'].apply(clean_tokenization)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [140]:
words2.shape

(332513, 2)

In [141]:
words2

             word       count
26          [new]  1551258643
32         [home]  1276852170
37         [page]  1082121730
40       [search]  1024093118
41         [free]  1014107316
...           ...         ...
333328    [gooek]       12711
333329   [gooddg]       12711
333330  [gooblle]       12711
333331   [gollgo]       12711
333332    [golgw]       12711

[332513 rows x 2 columns]

In [142]:
#Lemmatization (KÃ¶k bulma)
#import nltk
#nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemma=WordNetLemmatizer()

def lemmatization(token):
  return [lemma.lemmatize(word=w,pos='v') for w in token]
words2['word']=words2['word'].apply(lemmatization)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [143]:
words2

             word       count
26          [new]  1551258643
32         [home]  1276852170
37         [page]  1082121730
40       [search]  1024093118
41         [free]  1014107316
...           ...         ...
333328    [gooek]       12711
333329   [gooddg]       12711
333330  [gooblle]       12711
333331   [gollgo]       12711
333332    [golgw]       12711

[332513 rows x 2 columns]

In [144]:
#Finding unique words
words2_unique=words2['word'].str.split(" ").apply(pd.Series).stack().unique()
words2_unique.shape

(0,)

In [148]:
# Delete repeated words
#kelimelere gore siraladÄ±k yani count degeri ile eslesmiyor
words3=words2
#words3=words2.sort_values(['word', 'count'])
words3=words3.loc[words3.astype(str).drop_duplicates(subset=['word','count'],keep='first').index]
words3.shape

(332513, 2)

In [149]:
words3.isna().sum()

word     0
count    0
dtype: int64

In [150]:
words3.sort_index(inplace=True)
words3.head()

        word       count
26     [new]  1551258643
32    [home]  1276852170
37    [page]  1082121730
40  [search]  1024093118
41    [free]  1014107316

In [160]:
# Parantezleri sil
import re
def clean_non_alphanumeric(text):
  return re.sub('[^a-zA-Z]',' ',str(text))
words3['word']=words3['word'].apply(clean_non_alphanumeric)
words3.head()

          word       count  Point
26       new    1551258643     10
32      home    1276852170     10
37      page    1082121730     10
40    search    1024093118     10
41      free    1014107316     10

In [161]:
words3.shape

(332513, 3)

In [162]:
words4=words3
aralik=round(words3.shape[0]/10)
max_puan=10
#ilk 9 parca esit bolunecek artanlar son parcaya eklenecek
words4['Point']=1
for i in range(9):
  print("Baslangic :"+str(aralik*i)+" Bitis :"+str(aralik*i+aralik-1)+ " Puan :"+str(max_puan-i))
  words4['Point'][aralik*i:aralik*i+aralik] = max_puan-i

Baslangic :0 Bitis :33250 Puan :10
Baslangic :33251 Bitis :66501 Puan :9
Baslangic :66502 Bitis :99752 Puan :8
Baslangic :99753 Bitis :133003 Puan :7
Baslangic :133004 Bitis :166254 Puan :6
Baslangic :166255 Bitis :199505 Puan :5
Baslangic :199506 Bitis :232756 Puan :4
Baslangic :232757 Bitis :266007 Puan :3
Baslangic :266008 Bitis :299258 Puan :2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [163]:
# Manuel olarak puanlara gÃ¶re 10 ayrÄ± dataframe oluÅŸturuldu

words_0=words4.iloc[:33250,:]
words_1=words4.iloc[33251:66501 ,:]
words_2=words4.iloc[66502:99752 ,:]
words_3=words4.iloc[99753:133003 ,:]
words_4=words4.iloc[133004:166254  ,:]
words_5=words4.iloc[166255:199505  ,:]
words_6=words4.iloc[199506:232756,  :]
words_7=words4.iloc[232757:266007,  :]
words_8=words4.iloc[266008:299258,  :]
words_9=words4.iloc[299259:,  :]

In [ ]:
#10 Dataframe'e point diye column eklendi
words_0['Point']=10
words_1['Point']=9
words_2['Point']=8
words_3['Point']=7
words_4['Point']=6
words_5['Point']=5
words_6['Point']=4
words_7['Point']=3
words_8['Point']=2
words_9['Point']=1
words_0.head()

In [165]:
#Reset index of new dataframes
words_0.reset_index(drop=True,inplace=True)
words_1.reset_index(drop=True,inplace=True)
words_2.reset_index(drop=True,inplace=True)
words_3.reset_index(drop=True,inplace=True)
words_4.reset_index(drop=True,inplace=True)
words_5.reset_index(drop=True,inplace=True)
words_6.reset_index(drop=True,inplace=True)
words_7.reset_index(drop=True,inplace=True)
words_8.reset_index(drop=True,inplace=True)
words_9.reset_index(drop=True,inplace=True)
words_0.head()

         word       count  Point
0       new    1551258643     10
1      home    1276852170     10
2      page    1082121730     10
3    search    1024093118     10
4      free    1014107316     10

In [166]:
#tÃ¼m kelimeleri bir dosyaya yazmak
words4.to_csv("/content/drive/MyDrive/EnglishWordsDataset/allwords.csv",index=False)

In [167]:
#Dataframe'leri dosyaya yazmak
words_0.to_csv("/content/drive/MyDrive/EnglishWordsDataset/10pointswords.csv",index=False)
words_1.to_csv("/content/drive/MyDrive/EnglishWordsDataset/9pointswords.csv",index=False)
words_2.to_csv("/content/drive/MyDrive/EnglishWordsDataset/8pointswords.csv",index=False)